.customLogo {
    width: 60px;
    height: 30px;
    margin-right: 10px;
}

.days-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

.day-block {
    min-width: 10rem;
    max-width: 10rem;
}